.menu *{
    margin:0;
    padding:0;
}
.link{
    text-decoration:none;
}
.menu ul li{
    flex-grow: 1;
    flex-basis: 100px;
    max-width: 150px;
    border-right: 1px solid #FDF5E6;
    border-left: 1px solid #FDF5E6;
    font-size: 16px;
    list-style-type: none;
    position: relative;
}
.menu ul li .link{
    transition: all 0.6s ease;
    display: block;
    padding:15px  30px;
    text-transform: uppercase;
    color:#A9A9A9;

}

.menu ul li .link:hover{
    color:white;
    background-color: #D3D3D3;
    transition: all 0.4s ease;
}
.menu ul{
    background-color: NavajoWhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu li ul{
    position: absolute;
    background-color: #FDF5E6;
    display:none;
}
.menu li:hover ul{
    display:block;
}
.menu li ul li{
    border:1px solid #696969 ;
    min-width: 200px;

}
.menu li ul li .link{
    text-transform: none;
}
.navigator{
    background-color: NavajoWhite;
}
.link{
    color:white;
    text-decoration:none;
}
.nav li{
    padding:5px;
    font-size: 20px;
    margin:auto;
    list-style-type: none;
}
.link:hover{
    color: RosyBrown;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin:auto;
}
